$color-primary-red: #D2232A;//#d02630;
$color-primary-black: #000000;
$color-primary-grey:  #7b7d7f;

$color-secondary-red:   #f17879;
$color-secondary-grey:  #d1d3d4;
$color-secondary-cyan1: #018892;
$color-secondary-cyan2: #21bdcb;

$color-white: #fff;
$color-topbar-grey: #585958;
$color-topbar-grey-hover: #787978;
$color-table-bg: #f1f1f2;
$color-table-bgstripe: #e8e8e8; //#f1f1f2;
$color-table-bgset: $color-secondary-grey;
$color-table-sethead: #8b8b8c;
$color-table-empty: $color-primary-grey;
$color-table-border: $color-table-bg;

$color-filter-more: yellow;
$color-filter-more-bg: #b41f24;

$color-bg-infodropbox: #ffdc88;